*{
  margin :0;
  padding: 0; 
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
a{
text-decoration: none;
}
li {
  list-style: none;
}
:root{
  --primary-color:#febd69;
  --primary-shade: #d49644;
}