.card__container {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.card__container img {
  width: 6rem;
  margin-top: 1rem;
}
.login_form {
  border: 1px solid black;
  border-radius: 5px;
  width: 23rem;
  padding: 1.5rem;
}
.login_form h1 {
  font-weight: 500;
  margin-bottom: 1rem;
}
.login_form div {
  margin: 0.7rem 0;
}
.login_details {
  display: flex;
  flex-direction: column;
}
.loginForm__btn {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--primary-color);
  border-width: 1px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
.loginForm__btn:hover {
  background-color: var(--primary-shade);
}
.login_form input:focus {
  outline: 2px solid skyblue;
}
input {
  padding: 0.3rem 0.6rem;
  border-color: gray;
}
.card__container p {
  font-size: 0.8rem;
  padding: 0.7rem 0;
}

.card__btn {
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
   border-radius: 5px;
border: none;
margin-bottom: 0.5rem;
}
.card__btn:hover{
    background-color: lightgray;
}
