.overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;

  /* blur background */
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background: white;
  width: 360px;
  padding: 30px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  animation: scaleIn 0.15s ease-out;
}
.main_btn {
  background: #1a1a1a;
  color: white;
  padding: 2px;
  border-radius: 3px;
  border: none;
}
.main_btn:hover {
  border: 1px solid white;
}
.container p {
  font-weight: bold;
  font-size: 0.9rem;
  padding: 1rem;
  color: black;
  margin-bottom: 0.7rem;
}
.btn_container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.cancel {
  flex: 1;
  padding: 10px;
  background: #e5e7eb;
  border-radius: 8px;
  text-decoration: none;
  color: black;
}
.signout {
  flex: 1;
  padding: 10px;
  background: #dc2626;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.container button:hover {
  opacity: 0.9;
}
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
