.payment_header {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid;
  background-color: #e8eae9;
  text-align: center;
}
.flex {
  display: flex;
  gap: 10rem;
  margin: 2rem;
}

.flex section {
  width: 120px !important;
}
.cardWrap {
  margin-top: -4%;
}
.payment_card_container {
  max-width: 35vw;
  width: 100%;
}
.payment_price {
  padding: 1rem;
}
/* .payment_price > div{
  display: flex;
  gap :1rem;
} */
.payment_price span {
  display: flex;
  gap: 0.6rem;
}
.payment_price button {
  margin-top: 1rem;
  width: 100%;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
}

.payment_price button:hover {
  background-color: var(--primary-shade);
}

.loading{
  display: flex;
  gap: 0.5rem;
      align-items: center;
    justify-content: center;
    color: rgb(52, 52, 52);
}
@media  screen and (max-width:768px) {
  .flex{
    flex-direction: column;
    gap: 0.7rem;
 
  }
  
}